<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/welcome3" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!scanActive">
  <div class="content" [style.visibility]="content_visibility" >
    <ion-grid class="grid-1">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="6" class="title"><h1>Please select</h1></ion-col>
        <ion-col></ion-col>
      </ion-row>

      <ion-img class="img" src="../../assets/img/home4.jpg" alt=""></ion-img>

      <ion-row>
        <ion-col></ion-col>
        <ion-col size="5" class="title">
          <ion-button class="button-next" expand="block" [routerLink]="['/sign-in']"> Create Household </ion-button>
        </ion-col>
        <ion-col size="5" class="title">
          <ion-button class="button-next" expand="block" (click)="startScan()"> Join Household </ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="8" class="title">
          <ion-button class="button-next-signin" expand="block" [routerLink]="['/sign-in']"> Signin </ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>

<ion-button *ngIf="scanActive" class="button-next" expand="block" (click)="stopScan()"> Stop Scann </ion-button>
