
<ion-content>

  <div class="content">
    <ion-row class="second-row">
      <ion-col size="2" class="icon-person"> <ion-icon name="person-outline"></ion-icon> </ion-col>
      <ion-col size="8">
        <span> <b>Edit profile</b> </span>
      </ion-col>
      <ion-col size="2" class=""> <ion-icon name="chevron-forward-outline"></ion-icon> </ion-col>
    </ion-row>
    <ion-row class="second-row">
      <ion-col size="2" class="icon-person"> <ion-icon name="bookmark-outline"></ion-icon> </ion-col>
      <ion-col size="8">
        <span> <b>Roomates</b> </span>
      </ion-col>
      <ion-col size="2" class=""> <ion-icon name="chevron-forward-outline"></ion-icon> </ion-col>
    </ion-row>
    <ion-row class="second-row">
      <ion-col size="2" class="icon-person"> <ion-icon name="globe-outline"></ion-icon> </ion-col>
      <ion-col size="8">
        <span> <b>Roomates</b> </span>
      </ion-col>
      <ion-col size="2" class=""> <ion-icon name="chevron-forward-outline"></ion-icon> </ion-col>
    </ion-row>
  </div>

</ion-content>
