
<ion-content>

  <div class="content">
    <ion-row class="second-row" (click)="goToProfile()">
      <ion-col size="2" class="icon-person"> <ion-icon name="person-outline"></ion-icon> </ion-col>
      <ion-col size="8">
        <span> <b>Edit profile</b> </span>
      </ion-col>
      <ion-col size="2" class=""> <ion-icon name="chevron-forward-outline"></ion-icon> </ion-col>
    </ion-row>
    <ion-row class="second-row" (click)="goToRoomate()">
      <ion-col size="2" class="icon-person"> <ion-icon name="bookmark-outline"></ion-icon> </ion-col>
      <ion-col size="8">
        <span> <b>Roomates</b> </span>
      </ion-col>
      <ion-col size="2" class=""> <ion-icon name="chevron-forward-outline"></ion-icon> </ion-col>
    </ion-row>
    <ion-row class="second-row">
      <ion-col size="2" class="icon-person"> <ion-icon name="globe-outline"></ion-icon> </ion-col>
      <ion-col size="8">
        <span> <b>Manage house</b> </span>
      </ion-col>
      <ion-col size="2" class=""> <ion-icon name="chevron-forward-outline"></ion-icon> </ion-col>
    </ion-row> <br><br>

    <ion-button class="button-next" expand="block" (click)="showQrCode()"> {{showQr ? 'Hide' : 'Show'}} QrCode </ion-button> <br>

    <ion-card class="ion-text-center">
      <ion-card-content *ngIf="showQr">
        <qrcode
        [qrdata]="dataToBeScanned"
        [width]="150"
        [imageHeight]="250"
        [errorCorrectionLevel]="'M'"

        ></qrcode>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
