ion-content{
  --ion-background-color:white;
}

ion-toolbar {
  --background: white;
  color: black;
}

ion-title {
  margin-left: 0px;
}

.add-task {
  font-size: 18px;
  color: #0D6EFD;
}

.profile-img {
  margin-left: 23%;
  margin-top: 20%;
  position: absolute;
}

.username {
  position: absolute;
  margin-top: 63%;
  margin-left: 26%;
  font-size: 20px;
  color: black;
}

.change-pp {
  margin-top: 70%;
  margin-left: 0%;
  text-transform: capitalize;
}
