<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <form [formGroup]="taskForm">
        <ion-item lines="full">
          <ion-label>Title</ion-label>
          <ion-input formControlName="name" placeholder="                       e.g. cleaning bathroom"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Frequency</ion-label>
          <ion-select placeholder="Select" okText="Choose" cancelText="Cancel" formControlName="frequency">
            <ion-select-option value="DAILY">Daily</ion-select-option>
            <ion-select-option value="WEEKLY">Weekly</ion-select-option>
            <ion-select-option value="MONTHLY">Monthly</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item id="open-modal2" lines="full">
          <ion-label>First Deadline</ion-label>
          <ion-note slot="end">{{taskForm.get('dueDate')?.value | date:'short'}}</ion-note>
        </ion-item>
        <ion-modal trigger="open-modal2" [cssClass]="'bottom-end'">
          <ng-template>
            <ion-datetime formControlName="dueDate" size="cover" [showDefaultButtons]="true">
              <span slot="time-label">Time</span>
            </ion-datetime>
          </ng-template>
        </ion-modal>

        <ion-item lines="full">
          <ion-label>Always on saturday ?</ion-label>
          <ion-select placeholder="Select" okText="Choose" cancelText="Cancel" formControlName="onSaturday">
            <ion-select-option value="true">Yes</ion-select-option>
            <ion-select-option value="false">No</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="full">
          <ion-label>Assigned To</ion-label>
          <ion-select placeholder="Select" okText="Choose" cancelText="Cancel" formControlName="personId">
            <ion-select-option *ngFor="let person of persons"  [value]="person.id"> {{person.firstName}} </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="full">
          <ion-label>Notes</ion-label>
          <ion-textarea formControlName="description" rows="10"
            placeholder="Describe what and how the task is to be done"></ion-textarea>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-row *ngIf="showError">
    <ion-col size="12">
      <span style="color:red"> Error occured please try again! </span>
    </ion-col>
  </ion-row>

  <ion-row class="second-row">
    <ion-col size="1" class=""></ion-col>
    <ion-col size="10">
      <ion-button class="button-next" expand="block" *ngIf="!isUpdate" (click)="createTask()" [disabled]="!taskForm.valid"> Done </ion-button>
      <ion-button class="button-next" expand="block" *ngIf="isUpdate" (click)="updateTask()" [disabled]="!taskForm.valid"> Update </ion-button>
    </ion-col>
    <ion-col size="1" class=""></ion-col>
  </ion-row>
</ion-content>
