<ion-content>

  <ion-img class="img" src="../../assets/img/home3.jpg" alt=""></ion-img>
  <span class="skipp" [routerLink]="['/tabs/home-new']"><b>Skipp</b></span>

  <ion-grid class="grid-1">
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="8" class="title">For harmonius cohabitation</ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="9" class="text"> Home Master is an application that will greatly simplify many things within the flat share </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <ion-button class="button-next" expand="block" [routerLink]="['/tabs/home-new']"> Next </ion-button>
</ion-content>
