ion-content{

  --ion-background-color:white;
}

ion-toolbar {
  --background: white;
}

.grid-1 {
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.title {
  font-size: 30px;
}

.text {
  margin-top: 10px;
  color: gray;
}

.button-next {
  width: 90%;
  margin-left: 20px;
  --padding-top: 15px;
  --padding-bottom: 15px;
  --background: #0D6EFD;
  font-size: 12px;
  text-transform: capitalize;
  --border-radius: 10px;
}

.skipp {
  color: black;
  top: 0;
  margin-top: 20px;
  left: 85%;
  position: absolute;
}

.img {
  position: relative;
  border-radius: 35px !important;
  overflow: hidden;
}
