ion-avatar {
  margin-right: 15px;
  margin-top: 10px;
}

h2 {
  font-weight: 500;
  font-size: 18px;
}

ion-icon[name="trash-bin-outline"] {
  color: #dc3545;
  font-size: 24px;
}

.profile {
  background-color: #F7F7F9;
  border-radius: 50px;
  height: 50px;
  font-size: 40px;
  position: absolute;
}
.ion-title {
  position: absolute;
  padding-top: 5px !important;
}
ion-content{
  --ion-background-color:#FFFFFF;
}

ion-toolbar {
  --background: white;
  color: black;
}
ion-back-button{
  color: black;
}
